@import 'lib/all';

$small-width: 320px;
$medium-width: 768px;
$large-width: 1024px;
$wide-width: 1400px;
$breakpoints: (small: $small-width, medium: $medium-width, large: $large-width, wide: $wide-width);